  body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            background: white;
            padding: 40px;
            text-align: center;
            border-radius: 10px;
            width: 350px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        }

        h1 {
            color: #333;
            margin-bottom: 15px;
        }

        p {
            color: #555;
            font-size: 15px;
            margin-bottom: 25px;
        }

        button {
            background-color: #4facfe;
            color: white;
            border: none;
            padding: 12px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #007acc;
        }

        #message {
            margin-top: 20px;
            color: green;
            font-weight: bold;
        }